
h1
 {  
    
    
    display:inline-block; 
 }

body{background-image:url("../images/background.jpg");}

 .container
   {background:#ffffff;
    padding:10px;
    margin-top:80px;
    width:960px;   
    margin: auto;
    background-color: rgb(203, 238, 147);
    align-content:center;
    text-align: center;
     }