
h1
 {  
    
    
    display:inline-block; 
 }

body{background-image:url("../images/background.jpg");}

 .container
   {background:#ffffff;
    padding:10px;
    margin-top:80px;
    width:960px;   
    margin: auto;
    background-color: rgb(203, 238, 147);
    align-content:center;
    text-align: center;
     }

#startbutton
{
  padding:20px;
  border-radius:16px;
  background-color:yellowgreen;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;}

.hidden{
  display:none
}

.button
{
 size:auto;
}